* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* signin component */
.signin-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/* checkout component */
.checkout-section {
    background-color: #f2f2f2;
}

.container {
    max-width: 960px;
  }
  

/* pricing component */
.pricing-header {
  max-width: 700px;
}


.card {
  max-width: 400px;
}